extends layout

block content
  div.container
    div.row
      div.span12
        h1.text-center Welcome #{user.firstName}. Check your details below:
        div
          ul.user-details
            li Username ---> #{user.username}
            li Email    ---> #{user.email}
            li First Name ---> #{user.firstName} 
            li Last Name ---> #{user.lastName}
            li Credits ---> #{user.credits}

    div#bets.row-fluid
    if message
      h1.text-center.error-message #{message}
    a(href='/signout', class='text-center new-account') Sign Out
